#about-sec{
   display: flex;
   background-color:rgba(0, 0, 0, 0.1);
   height: 60%;
}

div img{
   margin-top: auto;
   margin-bottom: auto;
   margin-left: 6%;
   margin-right: 6%;
   max-height: 70%;
   max-width: 30%;
}

#text-box{
   height: 70%;
   margin-top: auto;
   margin-bottom: auto;
   margin-right: 6%;
   display: flex;
}
 
p{
   text-align: justify;
   margin: auto;
}