h1{
    font-size: 100px;
}

p{
    margin-top: 10%;
    font-size: 25px;
}

svg{
    fill: rgb(var(--color-2));
    display: block;
    margin: auto;
    width: 70%;
    margin-top: 15%;
    margin-bottom: 15%;
}

#contacts{
    width: 80%;
    margin: auto;
    margin-top: 15%;
    display: flex;
}

.contacts_line{
    display: flex;
    width: 50%;
}

div a{
    display: block;
    margin: auto;
    /*for squaring*/ 
    max-width: 100px;
    max-height: 100px;
    width: 8.8vw;
    height: 8.8vw;
}