#work-sec{
   display: flex;
   background-color:rgba(var(--color-2), 0.1);
   height: 60%;

   scroll-behavior: smooth;
   overflow-x: auto;
}

.slide{
   display: flex;
   margin: auto;
   position: relative;
}

div img{
   border-radius: 30px;
   margin-top: auto;
   margin-bottom: auto;
   margin-left: 6%;
   margin-right: 6%;
   max-height: 70%;
   max-width: 30%;
}

.text-box{
   max-height: 70%;
   width: 70%;
   margin-top: auto;
   margin-bottom: auto;
   margin-right: 6%;
}
 
p{
   text-align: justify;
   margin: auto;
}