* {
    margin:0;
    padding: 0;
}

:root{
    --nav-normal: #F2A4A0;
    --nav-selected: #F87A7B;
    --nav-text: #ffffff;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #596466;
}

h1{
    font-family: h;
    font-size: 3.6em;
    color: #F87A7B;
    
    padding-top: 3%;
    text-align: center;
}

#Home p, #Experience p, #Contacts p{
    color: white;
}

p{
    font-family: p;
    font-size: 1.2em;
    text-align: justify;
}

@font-face{ font-family: h; src: url( "fonts/Montserrat-Black.ttf");}
@font-face{ font-family: p; src: url( "fonts/WorkSans-Regular.ttf");}
@font-face{ font-family: light; src: url( "fonts/WorkSans-ExtraLight.ttf");}
@font-face{ font-family: nav; src: url( "fonts/Rubik-ExtraBold.ttf");}
/*Nav side bar*/

nav{
    position: fixed;
    top: 50%;
    right: 50px;
    transform: translate(0px, -50%);
}

nav li{
    display: flex;
    margin: 20px auto;
}

li a{
    display: block;
    height: 15px;
    width: 15px;
    background-color: var(--nav-normal);
    border-radius: 50%;
    
    margin: 5px 0px 5px 0px;

    
    transition: 0.5s ease;
}

li p{
    font-family: nav;
    
    display: block;

    font-size: 0em;
    font-weight: lighter;
    color: transparent;
    
    text-align: right;
    margin: auto 0 auto auto;
}

li:hover .dots, .selected-nav .dots{
    margin-left: 15px;
    margin-right: -4px;
    height: 23px;
    width: 23px;
    background-color: var(--nav-selected);
    
}

li:hover p, .selected-nav p{
    transition: 0.5s;
    transition-timing-function: ease;

    font-size: 1.2em;
    font-weight: bold;
    color: var(--nav-text);
}



/*Sections*/
section{
    width: 100%;
    height: 110vh;
}


/*Home Section*/

#Home{
    background-color: #2B97A4;
    display: flex;
}

#Home h1{
    color: white;
    padding-top: 0px;
    text-align: left;
}

#Home-img-container{
    background-color: #ffffff;
    height: 76%;
    width: 30%;
    margin: auto auto auto 0px;
}

#home-text{
    margin: auto 10% auto 15%;
}

#home-text > p:first-child{
    font-size: 2em;
    font-weight: bold;
}

/*About Section*/

#About{
    background-color: #ffffff;
    display: flex;
    padding-top: 0;
    text-align: left;
}

#About h1 {
    padding-top: 0px;
    text-align: left;
}

#About-img-container{
    height: 100%;
    width: 36%;
    background-color: #596466;
    margin: 0px 7% 0px 7%;
}

#about-text{
    width: 30%;
    margin: auto auto auto 0px;
}

#about-text h1+p{
    margin-top: 2em;
}

#about-text p+p{
    margin-top: 1em;
}


/*Experience-Education Section*/

#Experience{
    background-color: #F87A7B;
    
    height: auto;
    min-height: 110vh;

    display: flex;
    flex-direction: column;
}

#Experience h1{
    color: white;
}

#time-line{
    width: 50%;
    height: 35px;
    margin: 6em auto auto auto;
    
    display: flex;
    flex-direction: column;
    
    flex-grow: 1;
}

.line{
    margin: 0px auto 0px auto;
    width: 10px;
    background-color:#B0D6D7;
    height: 5%;
    border-radius: 30px;
}

.line:last-child{
    background-image: linear-gradient(#B0D6D7, #2B97A4);
    flex-grow: 1;

    border-radius: 30px 30px 0px 0px;
}

.dot{
    margin: 1.5em auto;
    width: 30px;
    height: 30px;
    background-color:white;
    border-radius: 50%;
}

.event{
    display: flex;
    width: 100%;
}

.duration{
    margin: auto;
    width: 35%;
    border-radius: 30px;
    background-color: #F2A4A0;
}

.duration p {
    text-align: center;
}



/*Born*/
#time-line > .event-info:first-child p{
    text-align: center;
}

.event-info{
    width: 35%;
    margin: auto;
}

.event-info p{     
    font-size: 0.75em;
    text-align: left;
}

.event-info p:first-child{     
    font-size: 0.95em;
}

.event-info > p:first-child{
    font-weight: 900;
}


/*Skills Section*/

#Skills{
    background-color: #D7C8C5;
    height: auto;
}

#skills-container{
    margin: auto;

    padding: 6em 0px;

    width: 60%;
    height: 90vh;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);

    grid-template-areas: 
        "skill1 skill2 skill3"
        "skill4 skill5 skill6";
    grid-gap: 1.5em 3em;
}

.skill{
    background-color: #ECDDDA;
    border-radius: 30px;

    
    transition: linear .3s;
}

#skill1{
    grid-area: skill1;
}
#skill2{
    grid-area: skill2;
}
#skill3{
    grid-area: skill3;
}
#skill4{
    grid-area: skill4;
}
#skill5{
    grid-area: skill5;
}
#skill6{
    grid-area: skill6;
}

h2{
    font-family: h;
    font-size: 2.1em;
    color: #F87A7B;
    text-align: center;
    font-weight: bold;
}

#html-css{
    display: flex;
}

.skill img{
    display: block;
    height: 80px;
    width: 80px;
    margin: 30px auto 1em auto;
}

.skill p{
    display: block;
    font-size: 0.8em;
    width: 90%;
    margin: 1em auto;
}

.skill:hover{
    background-color: #F87A7B;
}

.skill:hover h2, .skill:hover p{
    color: white;
}


/*Work Section*/

#Work{
    background-color: #9ec9ca;
    height: auto;
    min-height: 110vh;
}

#work-container{
    margin: auto;

    padding: 6em 0px;

    width: 60%;
    height: 550px;
    display: grid;

    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    grid-template-areas: 
        "work1 work1 work2"
        "work1 work1 work3";
    grid-gap: .5em .5em;
}

#work1{
    grid-area: work1;

    /*-toRemove-*/
    background-color: indianred;
}

#work2{
    grid-area: work2;

    /*-toRemove-*/
    background-color: indianred;
}

#work3{
    grid-area: work3;

    /*-toRemove-*/
    background-color: indianred;
}


/*Contacts Section*/

#Contacts{
    height: 100vh;
}

#Contacts h1{
    text-align: left;
    padding: 0;
}

#Contacts p{
    margin: 3em auto 3em auto;
}

#contacts-container{
    margin: 6em auto auto auto;
    padding: 6em 0px;
    width: 70%;
    display: flex;
}

#contacts-text{
    width: 40%;
    margin: auto;
}

#media{
    display: flex;
    height: 80px;
}

#media a{
    margin: auto;
}

#media a img{
    height: 60px;
    width: 60px;

    transition: 0.5s ease;
}

#media a img:hover{
    height: 75px;
    width: 75px;

}

form{
    margin: auto;
    width: 49%;
}

form *{
    width: 100%;
    border-radius: 30px;
    border: transparent;
    background-color: #637477;

    padding-left:30px;
    box-sizing: border-box;
    
    font-family: light;
    font-size: 1em;
    color: rgba(255,255,255,.8);

    transition: linear .3s;
}

textarea{
    resize: none;
}

form *:focus{
    outline: transparent;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: light;
    font-size: 1em;
    color: rgba(255,255,255,.8);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: light;
    font-size: 1em;
    color: rgba(255,255,255,.8);
}

::-ms-input-placeholder { /* Microsoft Edge */
    font-family: light;
    font-size: 1em;
    color: rgba(255,255,255,.8);
}

#send-button{
    font-family: p;
    padding: 0px;
    font-size: 1.2em;
    background-color: #F87A7B;
    color: rgb(255,255,255);

}

#send-button:hover{
    background-color: #F2A4A0;
    cursor: pointer;
    border-bottom: 3px solid white;
}

form * + *{
    margin-top: 1em;
}

input{
    height: 50px;
}

textarea{
    padding-top:30px;
    height: 255px;
}

input:focus, textarea:focus{
    border-bottom: 3px solid #F87A7B;
}

footer{
    margin:0;
}

footer p{
    padding-bottom: .5em;
    text-align: center;
    font-style: italic;
    font-family: light;
    color: rgba(255,255,255,.5);
}


/*Responsive*/

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 600px) {
    
}