* {
    margin:0;
    padding: 0;
}

:root{
    --nav-normal: #F2A4A0;
    --nav-selected: #F87A7B;
    --nav-text: #ffffff;
}

html{
    scroll-behavior: smooth;
}

/*Nav side bar*/
@font-face{ font-family: nav; src: url( "fonts/VisbyRound-ExtraBold.otf");}

/*To pick only one later */
@font-face{ font-family: nav0; src: url( "fonts/BalooBhaina2-ExtraBold.ttf");}
@font-face{ font-family: nav1; src: url( "fonts/Calistoga-Regular.ttf");}
@font-face{ font-family: nav2; src: url( "fonts/FredokaOne-Regular.ttf");}
@font-face{ font-family: nav3; src: url( "fonts/NotoSansKR-Black.otf");}
@font-face{ font-family: nav4; src: url( "fonts/PatuaOne-Regular.ttf");}
@font-face{ font-family: nav5; src: url( "fonts/PlayfairDisplay-Black.ttf");}
@font-face{ font-family: nav6; src: url( "fonts/PTSansCaption-Bold.ttf");}
@font-face{ font-family: nav7; src: url( "fonts/Rubik-ExtraBold.ttf");}
@font-face{ font-family: nav8; src: url( "fonts/Sansita-ExtraBold.ttf");}
@font-face{ font-family: nav9; src: url( "fonts/VisbyRound-ExtraBold.otf");}

@keyframes change{
    0%      {font-family: nav0;}
    10%     {font-family: nav1;}
    20%     {font-family: nav2;}
    30%     {font-family: nav3;}
    40%     {font-family: nav4;}
    50%     {font-family: nav5;}
    60%     {font-family: nav6;}
    70%     {font-family: nav7;}
    80%     {font-family: nav8;}
    90%     {font-family: nav9;}
    100%    {font-family: nav0;}
}

li p{
    animation-name: change;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

/*end*/

nav{
    position: fixed;
    top: 50%;
    right: 50px;
    transform: translate(0px, -50%);
}

nav li{
    display: flex;
    margin: 20px auto;
}

li a{
    display: block;
    height: 15px;
    width: 15px;
    background-color: var(--nav-normal);
    border-radius: 50%;
    
    margin: 5px 0px 5px 0px;

    
    transition: 0.5s;
    transition-timing-function: ease;
}

li p{
    font-family: nav;
    display: block;

    font-size: 0em;
    font-weight: lighter;
    color: transparent;
    
    text-align: right;
    margin: auto 0 auto auto;
}

li:hover .dots, .selected-nav .dots{
    margin-left: 15px;
    margin-right: -4px;
    height: 23px;
    width: 23px;
    background-color: var(--nav-selected);
    
}

li:hover p, .selected-nav p{
    transition: 0.5s;
    transition-timing-function: ease;

    font-size: 1.2em;
    font-weight: bold;
    color: var(--nav-text);
}



/*Sections*/
section{
    width: 100%;
    min-height: 101vh;
}


/*Home Section*/

#Home{
    background-color: #2B97A4;
}

/*About Section*/

#About{
    background-color: #ffffff;
    display: flex;
}

#img-container{
    height: 100%;
    width: 545px;
    background-color: #596466;
}

/*Experience-Education Section*/

#Experience{
    background-color: #F87A7B;
}

/*Skills Section*/

#Skills{
    background-color: #D7C8C5;
}

/*Work Section*/

#Work{
    background-color: #B0D6D7;
}

/*Contacts Section*/

#Contacts{
    background-color: #596466;
}

/*Responsive*/

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 600px) {
    
}